<!DOCTYPE html>
<html>
<head>
  <!-- meta charset="UTF-8" -->
  <title>Four rules making pages</title>
  <link rel="stylesheet" href="style.css">
  <link rel="icon" type="image" href="https://code.s3.yandex.net/web-code/rules-favicon.ico">
</head>
<body>
  <!-- comment -->
  <header class="header">
    <div class="overlay">
      <h1 class="header-title">Four rules making pages</h1>
    </div>
  </header>
<!-- comment -->
  
  <footer class="footer">
    <h4 class="footer-author">Made in one evening. If we talk about this section. In generaly it is a good course, and I need make money, using this skills.</h4>
    </footer>
</body>
</html>