<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Four rules making pages</title>
  <link rel="stylesheet" href="style.css">
  <link rel="icon" type="image" href="https://code.s3.yandex.net/web-code/rules-favicon.ico">
</head>
<body>
  <!-- comment -->
  <header class="header">
    <div class="overlay">
      <h1 class="header-title">Four rules making pages</h1>
    </div>
  </header>
<!-- comment -->
  <section class="content">
    <div class="card">
      <img class="card-image" src="https://pictures.s3.yandex.net/frontend-developer/free-course/card-1.jpg">
      <h3 class="card-title">Space</h3>
      <p class="card-text">Easy rule, that often break: put near elements with similar mean and surround them with space. Space - is powerful for impact.</p>
    </div>
    <div class="card no-right-margin">
      <img class="card-image" src="https://pictures.s3.yandex.net/frontend-developer/free-course/card-2.jpg">
      <h3 class="card-title">Grid</h3>
      <p class="card-text">Size of lements and distance between they put in harmony — it named grid. If element drop, people can see that.</p>
    </div>
    <div class="card">
      <img class="card-image" src="https://pictures.s3.yandex.net/frontend-developer/free-course/card-3.jpg">
      <h3 class="card-title">Fonts</h3>
      <p class="card-text">No more than three fonts on site. One - for header, second - for all another texts, third — marking important words. Should be enought.</p>
    </div>
    <div class="card no-right-margin">
      <img class="card-image" src="https://pictures.s3.yandex.net/frontend-developer/free-course/card-4.jpg">
      <h3 class="card-title">Colors</h3>
      <p class="card-text">Commonly on site two colors: main and accent. Take a good color pair is possible due to the lack of visibility or special tools.</p>
    </div>
  </section>
  <footer class="footer">
    <h4 class="footer-author">Maded in one evening. If we talk about this section. In generaly it is a good course, and I need make money, using this skills.</h4>
    
    </footer>
</body>
</html>