<html>
    <head>
        <title>Kiss blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Kiss Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 22.09.2020, 12:14</p>
            <h2><a href="">My second post yeah</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
	<div>
            <p>published: 23.09.2020, 19:37</p>
            <h2><a href="">Somethik about work</a></h2>
            <p>Stand a good programer is a hard. All tools very fast changes, languages changes, I start to develop Android programs very long time ago, and now I have to learn Kotlin, Java is not use in modern programs.</p>
		<p><a href="landing_page.html">Page from course WEB development.</a></p>
        </div>
    </body>
</html>